* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Padrao";
}

@font-face {
	font-family: "Padrao";
	src: url("font/Cambria-Font-For-Windows.ttf");
}

body {
	background-color: #fff;
}

.principal {
	width: 65rem;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #07081f;
	z-index: 0;
	padding: 1rem 2.5rem;
	margin: auto;
}

nav {
	display: flex;
	justify-content: center;
	padding-left: 27.8rem;
}

nav ul {
	display: flex;
	gap: 0.3rem;
	background: url("img/fundo.jpg");
	padding: 0.1rem 0.6rem;
	transform: scaleX(1.5);
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bolder;
	color: #302e30;
	background-color: #000102;
	border-radius: 0.4rem;
	transition: 0.1s;
	padding: 0 0.124rem;
}

nav a:hover {
	color: #f6f6f6;
}

nav a.ativo {
	color: #9d494e !important;
}

#projetos.ativo {
	color: #9d494e !important;
}

#projetos {
	font-size: 1.5rem;
	font-weight: bolder;
	color: #302e30;
	background-color: #000102;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: 0.1s;
	padding: 0 0.3rem;
}

#projetos:hover {
	color: #f6f6f6;
}

.container-1 {
	display: flex;
	justify-content: right;
	align-items: flex-start;
	height: 9.1rem;
	position: relative;
	margin-top: 0.2rem;
}

.foto {
	width: 8.2rem;
	height: fit-content;
	border: 0.6rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	position: absolute;
	top: -2rem;
	left: 0;
}

.foto h1 {
	font-size: 1.5rem;
	text-align: center;
	border-bottom: 0.3rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	color: #849473;
	padding: 0 0.1rem 0.2rem;
}

.foto img {
	display: block;
	width: 100%;
}

.barra-5 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: -22%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #4a4a4a, #313131, #181818, #101010);
}

.barra-6 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 5%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #4a4a4a, #313131, #181818, #101010);
}

.barra-7 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 31.9%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #4a4a4a, #313131, #181818, #101010);
}

.condicao {
	width: 20rem;
	height: 7rem;
	border-top: 0.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	background: url("img/condicao.gif") center no-repeat;
	background-size: cover;
	border-image: url("img/fundo.jpg") 30 round;
	position: relative;
}

.condicao p {
	width: 14rem;
	font-size: 1.7rem;
	font-weight: bold;
	background: url("img/fundo.jpg");
	position: absolute;
	left: -8.8%;
	bottom: -33%;
	color: #22311d;
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	padding-left: 1.4rem;
}

.fine {
	width: 7rem;
	text-align: center;
	font-weight: bolder;
	font-size: 1.8rem;
	color: #177115;
	text-shadow: 0.1rem 0.1rem 0.2rem #0c3e0b;
	background-color: #000214;
	position: absolute;
	right: 0;
	bottom: 0;
}

.equip {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 7rem;
	position: relative;
	border-top: 0.3rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-left: 2rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	background-color: #08005b;
	margin-left: 0.26rem;
}

.teclado {
	width: 12rem;
	padding: 0.5rem 1rem 0;
}

.infinito {
	display: block;
	width: 1.5rem;
	position: absolute;
	top: 72%;
	left: 10.5%;
}

.equip p {
	font-size: 1.7rem;
	font-weight: bold;
	rotate: -90deg;
	transform: scaleX(1.3);
	position: absolute;
	left: -20%;
	color: #22311d;
}

.detalhe {
	display: flex;
	justify-content: center;
	gap: 0.3rem;
	width: fit-content;
	height: 0.8rem;
	border: 0.3rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	background: url("img/fundo.jpg");
	position: absolute;
	top: -4%;
	left: -1.8%;
}

.verde {
	width: 7.5rem;
	color: transparent;
	background-color: #0a2018;
}

.vermelho,
.vermelho-meio {
	color: transparent;
	background-color: #612628;
}

.vermelho {
	width: 0.3rem;
}

.vermelho-meio {
	width: 0.5rem;
}

.mouse {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 7.3rem;
	border-top: 0.3rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-left: 0.7rem solid transparent;
	border-bottom: 0.9rem solid transparent;
	background-color: #08005b;
	border-image: url("img/fundo.jpg") 30 round;
	position: relative;
	padding-top: 0.5rem;
	margin-left: 0.26rem;
}

.mouse img {
	display: block;
	width: 2.8rem;
}

.detalhe-m1 {
	display: flex;
	justify-content: center;
	gap: 0.3rem;
	width: fit-content;
	height: 0.8rem;
	border: 0.3rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	background: url("img/fundo.jpg");
	position: absolute;
	top: -4%;
	left: -3.4%;
}

.detalhe-m2 {
	display: flex;
	justify-content: center;
	gap: 0.3rem;
	width: fit-content;
	height: 0.8rem;
	border: 0.3rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	background: url("img/fundo.jpg");
	position: absolute;
	bottom: -18%;
	left: -3.4%;
}

.verde-m {
	width: 3.15rem;
	color: transparent;
	background-color: #0a2018;
}

.vermelho-m,
.vermelho-meio-m {
	color: transparent;
	background-color: #612628;
}

.vermelho-m {
	width: 0.3rem;
}

.vermelho-meio-m {
	width: 0.5rem;
}

.barra-1 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 5%;
	left: -30%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #313131, #181818, #101010);
}

.barra-2 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 83%;
	left: -30%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #313131, #181818, #101010);
}

main {
	display: flex;
}

.info-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41.8rem;
	height: 18rem;
	border: 0.7rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	position: relative;
	background-color: #0a2018;
}

.info-1-img {
	display: none;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 14rem;
	border: 0.4rem solid #849473;
	background-color: #000038;
}

.info-1 span {
	display: block;
	width: 20.31rem;
	height: 2.5rem;
	background: url("img/fundo.jpg") fixed;
	position: absolute;
	top: -15%;
	left: 51.5%;
	clip-path: polygon(8.7% 0, 100% 0, 100% 100%, 0% 100%);
}

.info-1-img img {
	display: block;
	width: 11rem;
}

.info-2 {
	width: 41.8rem;
	height: 12rem;
	font-size: 1.8rem;
	border: 0.7rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	background-color: #090919;
	z-index: 2;
	position: relative;
	padding: 1rem;
	margin-top: 0.4rem;
}

.txt-info-2 {
	display: none;
	color: #f6f6f6;
}

.container-3 {
	position: relative;
	z-index: 1;
}

.inv {
	display: flex;
	flex-wrap: wrap;
	width: 17.9rem;
	height: 32.2rem;
	border: 0.7rem solid transparent;
	border-image: url("img/fundo.jpg") 30 round;
	z-index: 2;
	position: relative;
	top: -5.6%;
	background-color: #08005b;
	margin-left: 0.3rem;
}

.slot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 20%;
	background-image: linear-gradient(140deg, #08005a, #080052 50%, #08004a);
}

.slot:hover {
	animation: borda-piscando 1.2s infinite;
}

@keyframes borda-piscando {
	0% {
		border: 0.3rem solid #ff0103;
	}
	33% {
		border: 0.3rem solid #cf0101;
	}
	66% {
		border: 0.3rem solid #aa0000;
	}
	100% {
		border: 0.3rem solid #7f0200;
	}
}

.whatsapp,
.gmail,
.skills,
.projetos,
.formacao,
.github,
.linkedin {
	width: 4.2rem;
	cursor: pointer;
}

.teclado-inv {
	width: 5rem;
	cursor: pointer;
}

.barra-3 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 85%;
	left: -20%;
	z-index: -10;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #313131, #181818, #101010);
}

.barra-4 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 87%;
	left: 95%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4a4a4a, #313131, #181818, #101010);
}

.modal-skills li.ativo,
.modal-github li.ativo,
.modal-linkedin li.ativo {
	color: #59577b !important;
}

.modal-skills {
	display: none;
	background: url("img/fundo.jpg");
	position: absolute;
	bottom: -241.9%;
	left: -22.7%;
}

.modal-github,
.modal-linkedin {
	display: none;
	background: url("img/fundo.jpg");
	position: absolute;
	bottom: -145.2%;
	left: -5.3%;
}

.modal-github h2,
.modal-linkedin h2 {
	text-align: center;
	font-size: 1.9rem;
	font-weight: bolder;
	color: #22311d;
}

.modal-github ul,
.modal-linkedin ul {
	list-style: none;
	padding: 0 0.7rem 0.7rem;
}

.modal-github li,
.modal-linkedin li,
.modal-github li a,
.modal-linkedin li a {
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
	transition: 0.1s;
	cursor: pointer;
	color: #f6f6f6;
	background-color: #040404;
	padding: 0 0.45rem 0.2rem;
}

.modal-github li + li,
.modal-linkedin li + li {
	margin-top: 0.7rem;
}

.modal-github li:hover,
.modal-linkedin li:hover,
.modal-github li a:hover,
.modal-linkedin li a:hover {
	color: #59577b;
}

.modal-github.animar-entrada,
.modal-linkedin.animar-entrada {
	animation: entrar-da-direita 0.1s ease forwards;
	z-index: 1;
}

.modal-github.animar-saida-direita,
.modal-linkedin.animar-saida-direita {
	animation: sair-para-direita 0.1s ease forwards;
}

.modal-skills h2 {
	text-align: center;
	font-size: 1.9rem;
	font-weight: bolder;
	color: #22311d;
}

.modal-skills ul {
	list-style: none;
	padding: 0 0.7rem 0.7rem;
}

.modal-skills li {
	font-size: 1.8rem;
	text-align: center;
	transition: 0.1s;
	cursor: pointer;
	color: #f6f6f6;
	background-color: #040404;
	padding: 0 0.45rem 0.2rem;
}

.modal-skills li + li {
	margin-top: 0.7rem;
}

.modal-skills li:hover {
	color: #59577b;
}

.ax-hidden {
	visibility: hidden;
	position: absolute;
}

.carousel {
	display: none;
	--carousel-height: 6.25rem;
	--carousel-width: 62.5rem;
	--carousel-item-height: 7.5rem;
	--carousel-item-width: 11rem;
	width: 80%;
}

.carousel-container {
	align-items: center;
	display: flex;
	min-height: var(--carousel-height);
	margin: 0 auto;
	max-width: var(--carousel-width);
	position: relative;
	margin-top: 5rem;
}

.carousel-item {
	height: var(--carousel-item-height);
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out;
	width: var(--carousel-item-width);
	z-index: 0;
}

.carousel-item-1 {
	left: 15%;
	opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
	height: calc(var(--carousel-item-height) * 1.5);
	opacity: 1;
	width: calc(var(--carousel-item-width) * 1.5);
	z-index: 1;
}

.carousel-item-2 {
	left: 30%;
}

.carousel-item-3 {
	height: calc(var(--carousel-item-height) * 2);
	opacity: 1;
	left: 50%;
	width: calc(var(--carousel-item-width) * 2);
	z-index: 2;
}

.carousel-item-4 {
	left: 70%;
}

.carousel-item-5 {
	left: 85%;
	opacity: 0.4;
}

.carousel-controls {
	display: flex;
	justify-content: space-between;
	margin: 1.875rem 0;
}

.carousel-control {
	background-color: transparent;
	border: none;
	width: 2rem;
	height: 2rem;
	position: relative;
	margin: 0 1.25rem;
	cursor: pointer;
	transform: none;
	transition: none;
}

.carousel-control span {
	display: none;
}

.carousel-control:hover {
	transform: none;
}

.carousel-control-previous::after,
.carousel-control-previous::before {
	box-sizing: border-box;
	content: "";
	display: block;
	height: 0.5rem;
	position: absolute;
	top: 0.3125rem;
}
.carousel-control-previous::before {
	display: none;
	background: currentColor;
	border-radius: 0.125rem;
	right: 0.6875rem;
	width: 0.1rem;
}

.carousel-control-previous::after {
	content: "";
	position: absolute;
	top: -240%;
	left: -4rem;
	transform: translateY(-50%);
	border-top: 0.6rem solid transparent;
	border-bottom: 0.6rem solid transparent;
	border-right: 0.8rem solid #22311d;
}

.carousel-control-next::after,
.carousel-control-next::before {
	box-sizing: border-box;
	content: "";
	display: block;
	height: 0.5rem;
	position: absolute;
	top: 0.3125rem;
}

.carousel-control-next::before {
	display: none;
	background: currentColor;
	border-radius: 0.125rem;
	left: 0.6875rem;
	width: 0.125rem;
}

.carousel-control-next::after {
	content: "";
	position: absolute;
	top: -240%;
	left: 5.2rem;
	transform: translateY(-50%);
	border-top: 0.6rem solid transparent;
	border-bottom: 0.6rem solid transparent;
	border-left: 0.8rem solid #22311d;
}

.carousel-control-previous:hover::after {
	border-right-color: #19e428;
}

.carousel-control-next:hover::after {
	border-left-color: #19e428;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	opacity: 0;
	z-index: 0;
	height: var(--carousel-item-height);
	width: var(--carousel-item-width);
}

.carousel-item img {
	width: 100%;
	height: auto;
	display: block;
}

.carousel-item-1 {
	left: 15%;
	opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
	height: calc(var(--carousel-item-height) * 1.5);
	width: calc(var(--carousel-item-width) * 1.5);
	opacity: 1;
	z-index: 1;
}

.carousel-item-2 {
	left: 30%;
}

.carousel-item-3 {
	height: calc(var(--carousel-item-height) * 2);
	width: calc(var(--carousel-item-width) * 2);
	opacity: 1;
	left: 50%;
	z-index: 2;
}

.carousel-item-4 {
	left: 70%;
}

.carousel-item-5 {
	left: 85%;
	opacity: 0.4;
}

.carousel-caption {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 77%;
	left: 50%;
	width: 80%;
	height: 3rem;
	border-radius: 0.5rem;
	transform: translateX(-50%);
	background-color: #000102db;
	font-size: 0.9rem;
}

.carousel-caption a {
	color: #19e428;
	text-decoration: none;
}

.carousel-caption a:hover {
	text-decoration: underline;
}

#titulo-sobre {
	margin-bottom: 30rem;
}

.sobre-container {
	height: 100vh;
	position: relative;
	color: #f6f6f6;
	background: #090909 url("img/agenda.webp") no-repeat center;
}

.sobre-container-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	height: 100vh;
	background-color: #00000081;
}

.sobre-container-txt p {
	font-size: 2rem;
	text-indent: 2rem;
	line-height: 3rem;
}

@keyframes seta-esquerda {
	0%,
	100% {
		transform: translateY(-50%) translateX(0);
	}
	50% {
		transform: translateY(-50%) translateX(-4px);
	}
}

@keyframes seta-direita {
	0%,
	100% {
		transform: translateY(-50%) translateX(0);
	}
	50% {
		transform: translateY(-50%) translateX(4px);
	}
}

.sobre-container-txt {
	position: relative;
	overflow: hidden;
}

.texto-sobre {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
  padding: 8rem;
  text-align: left;
  z-index: 0;
}

.texto-sobre.ativo {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.texto-sobre.saindo-esquerda,
.texto-sobre.saindo-direita {
  z-index: 1;
}

.texto-sobre.saindo-direita {
	transform: translateX(100%);
	opacity: 0;
}

.seta {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	color: #19e428;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
	user-select: none;
}

#seta-esquerda {
	left: 2rem;
	animation: seta-esquerda 1s infinite ease-in-out;
}

#seta-direita {
	right: 2rem;
	animation: seta-direita 1s infinite ease-in-out;
}

#voltar-index {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	font-size: 2rem;
	color: rgb(101, 101, 101);
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
	z-index: 20;
	transition: background-color 0.3s, color 0.3s;
}

#voltar-index:hover {
	color: #f6f6f6;
}

@keyframes entrar-da-direita {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes sair-para-esquerda {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes sair-para-direita {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

.certificados-container {
	height: 100vh;
	color: #f6f6f6;
	background: #090909 url("img/certificados.webp") no-repeat center;
}

.certificados-container-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	font-size: 2rem;
	text-indent: 2rem;
	line-height: 3rem;
	background-color: #00000090;
	padding: 8rem;
}

.certificados-container-txt div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 10rem;
}

.certificados-titulo {
	margin-bottom: 8rem;
}

.certificados-container-txt p + p {
	margin-top: 1.5rem;
}

.certificados-container-txt a {
	text-decoration: none;
	color: #f6f6f6;
}

.modal-skills.animar-saida-direita {
	animation: sair-para-direita 0.1s ease forwards;
	z-index: 1;
}

.modal-skills.animar-entrada {
	animation: entrar-da-direita 0.1s ease forwards;
	z-index: 1;
}

.modal-skills.animar-saida {
	animation: sair-para-esquerda 0.5s ease forwards;
}