* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Padrao';
}

@font-face {
	font-family: 'Padrao';
	src: url('font/Cambria-Font-For-Windows.ttf');
}

body {
	background-color: #000;
}

.principal {
	width: 66.6rem;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #07081F;
	z-index: 0;
	padding: 1rem 2.5rem;
	margin: auto;
}

nav {
	display: flex;
	justify-content: center;
	padding-left: 27.7rem;
}

nav ul {
	display: flex;
	gap: .3rem;
	background: url('img/fundo.jpg');
	padding: .1rem .6rem;
	transform: scaleX(1.5);
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bolder;
	color: #302E30;
	background-color: #000102;
	border-radius: .4rem;
	transition: .1s;
	padding: 0 .3rem;
}

nav a:hover {
	color: #9D494E;
}

#projetos {
	font-size: 1.5rem;
	font-weight: bolder;
	color: #302E30;
	background-color: #000102;
	border-radius: .4rem;
	cursor: pointer;
	transition: .1s;
	padding: 0 .3rem;
}

#projetos:hover {
	color: #9D494E;
}

.container-1 {
	display: flex;
	justify-content: right;
	align-items: flex-start;
	height: 9.1rem;
	position: relative;
	margin-top: .2rem;
}

.foto {
	width: 8.2rem;
	height: fit-content;
	border: .6rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	position: absolute;
	top: -2rem;
	left: 0;
}

.foto h1 {
	font-size: 1.5rem;
	text-align: center;
	border-bottom: .3rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	color: #849473;
	padding: 0 .1rem .2rem;
}

.foto img {
	display: block;
	width: 100%;
}

.barra-5 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: -22%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #4A4A4A, #313131, #181818, #101010);
}

.barra-6 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 5%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #4A4A4A, #313131, #181818, #101010);
}

.barra-7 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 31.9%;
	left: -8%;
	z-index: 0;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #4A4A4A, #313131, #181818, #101010);
}

.condicao {
	width: 20rem;
	height: 7rem;
	border-top: .5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: .5rem solid transparent;
	background: url('img/condicao.gif') center no-repeat;
	background-size: cover;
	border-image: url('img/fundo.jpg') 30 round;
	position: relative;
}

.condicao p {
	width: 14rem;
	font-size: 1.7rem;
	font-weight: bold;
	background: url('img/fundo.jpg');
	position: absolute;
	left: -8.8%;
	bottom: -33%;
	color: #22311D;
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	padding-left: 1.4rem;
}

.fine {
	width: 7rem;
	text-align: center;
	font-weight: bolder;
	font-size: 1.8rem;
	color: #177115;
	text-shadow: .1rem .1rem .2rem #0c3e0b;
	background-color: #000214;
	position: absolute;
	right: 0;
	bottom: 0;
}

.equip {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 7rem;
	position: relative;
	border-top: .3rem solid transparent;
	border-right: .7rem solid transparent;
	border-left: 2rem solid transparent;
	border-bottom: .3rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	background-color: #08005B;
	margin-left: .26rem;
}

.equip img {
	width: 12rem;
	padding: .5rem 1rem 0;
}

.equip p {
	font-size: 1.7rem;
	font-weight: bold;
	rotate: -90deg;
	transform: scaleX(1.3);
	position: absolute;
	left: -20%;
	color: #22311D;
}

.detalhe {
	display: flex;
	justify-content: center;
	gap: .3rem;
	width: fit-content;
	height: .8rem;
	border: .3rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	background: url('img/fundo.jpg');
	position: absolute;
	top: -4%;
	left: -1.8%;
}

.verde {
	width: 7.5rem;
	color: transparent;
	background-color: #0A2018;
}

.vermelho, .vermelho-meio {
	color: transparent;
	background-color: #612628;
}

.vermelho {
	width: .3rem;
}

.vermelho-meio {
	width: .5rem;
}

.mouse {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 7.3rem;
	border-top: .3rem solid transparent;
	border-right: .7rem solid transparent;
	border-left: .7rem solid transparent;
	border-bottom: .6rem solid transparent;
	background-color: #08005B;
	border-image: url('img/fundo.jpg') 30 round;
	position: relative;
	padding-top: .5rem;
	margin-left: .26rem;
}

.mouse img {
	display: block;
	width: 2.8rem;
}

.detalhe-m1 {
	display: flex;
	justify-content: center;
	gap: .3rem;
	width: fit-content;
	height: .8rem;
	border: .3rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	background: url('img/fundo.jpg');
	position: absolute;
	top: -4%;
	left: -3.4%;
}

.detalhe-m2 {
	display: flex;
	justify-content: center;
	gap: .3rem;
	width: fit-content;
	height: .8rem;
	border: .3rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	background: url('img/fundo.jpg');
	position: absolute;
	bottom: -14%;
	left: -3.4%;
}

.verde-m {
	width: 3.15rem;
	color: transparent;
	background-color: #0A2018;
}

.vermelho-m, .vermelho-meio-m {
	color: transparent;
	background-color: #612628;
}

.vermelho-m {
	width: .3rem;
}

.vermelho-meio-m {
	width: .5rem;
}

.barra-1 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 5%;
	left: -30%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #313131, #181818, #101010);
}

.barra-2 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 83%;
	left: -30%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #313131, #181818, #101010);
}

main {
	display: flex;
}

.info-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43.4rem;
	height: 18rem;
	border: .7rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	position: relative;
	background-color: #0A2018;
}

.info-1-img {
	display: none;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 14rem;
	border: .4rem solid #849473;
	background-color: #000038;
}

.info-1 span {
	display: block;
	width: 20.31rem;
	height: 2.5rem;
	background: url('img/fundo.jpg') fixed;
	position: absolute;
	top: -15%;
	left: 53.3%;
	clip-path: polygon(8.7% 0, 100% 0, 100% 100%, 0% 100%);
}

.info-1-img img {
	display: block;
	width: 11rem;
}

.info-2 {
	width: 43.4rem;
	height: 12rem;
	font-size: 1.8rem;
	border: .7rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	background-color: #090919;
	padding: 1rem;
	margin-top: .4rem;
}

.txt-info-2 {
	display: none;
	color: #F6F6F6;
}

.container-3 {
	position: relative;
}

.inv {
	display: flex;
	flex-wrap: wrap;
	width: 17.9rem;
	height: 32.2rem;
	border: .7rem solid transparent;
	border-image: url('img/fundo.jpg') 30 round;
	position: absolute;
	top: -6%;
	background-color: #08005B;
	margin-left: .3rem;
}

.slot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 20%;
	background-image: linear-gradient(140deg, #08005A, #080052 50%, #08004A);
}

.whatsapp, .gmail, .skills, .projetos, .certificados {
	width: 4.2rem;
	cursor: pointer;
}

.barra-3 {
	width: 5rem;
	height: 2rem;
	position: absolute;
	top: 90%;
	left: -30%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #313131, #181818, #101010);
}

.barra-4 {
	width: 5rem;
	height: 1rem;
	position: absolute;
	top: 92%;
	left: 95%;
	z-index: -1;
	color: transparent;
	background-image: linear-gradient(#101010, #181818, #313131, #4A4A4A, #313131, #181818, #101010);
}

.modal-skills {
	display: none;
	background: url('img/fundo.jpg');
	z-index: 1;
	position: absolute;
	bottom: -184%;
	left: -11.5%;
}

.modal-skills h2 {
	text-align: center;
	font-size: 1.9rem;
	font-weight: bolder;
	color: #22311D;
}

.modal-skills ul {
	list-style: none;
	padding: 0 .7rem .7rem;
}

.modal-skills li {
	font-size: 1.8rem;
	text-align: center;
	transition: .1s;
	cursor: pointer;
	color: #F6F6F6;
	background-color: #040404;
	padding: 0 .45rem .2rem;
}

.modal-skills li + li {
	margin-top: .7rem;
}

.modal-skills li:hover {
	color: #59577B;
}

.ax-hidden {
  visibility: hidden;
  position: absolute;
}

.carousel {
	display: none;
  --carousel-height: 6.25rem;
  --carousel-width: 62.5rem;
  --carousel-item-height: 7.5rem;
  --carousel-item-width: 11rem;
  width: 100%;
}

.carousel-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
  margin-top: 4.3rem;
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
}

.carousel-item-1 {
  left: 15%;
  opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
  height: calc(var(--carousel-item-height) * 1.5);
  opacity: 1;
  width: calc(var(--carousel-item-width) * 1.5);
  z-index: 1;
}

.carousel-item-2 {
  left: 30%;
}

.carousel-item-3 {
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  left: 50%;
  width: calc(var(--carousel-item-width) * 2);
  z-index: 2;
}

.carousel-item-4 {
  left: 70%;
}

.carousel-item-5 {
  left: 85%;
  opacity: 0.4;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 0;
}

.carousel-control {
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 1.375rem;
  margin: 0 1.25rem;
  position: relative;
  transform: scale(1.5);
  transition: transform 0.5s ease-out;
  width: 1.375rem;
}

.carousel-control:hover {
  transform: scale(1.3);
}

.carousel-control-previous::after,
.carousel-control-previous::before {
  box-sizing: border-box;
  content: '';
  display: block;
  height: 0.5rem;
  position: absolute;
  top: 0.3125rem;
}
.carousel-control-previous::before {
  background: currentColor;
  border-radius: 0.125rem;
  right: 0.6875rem;
  width: 0.1rem;
}
.carousel-control-previous::after {
  border-bottom: 0.25rem solid transparent;
  border-right: 0.3125rem solid;
  border-top: 0.25rem solid transparent;
  right: 0.3125rem;
  width: 0;
}

.carousel-control-next::after,
.carousel-control-next::before {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 0.5rem;
  position: absolute;
  top: 0.3125rem;
}

.carousel-control-next::before {
  background: currentColor;
  border-radius: 0.125rem;
  left: 0.6875rem;
  width: 0.125rem;
}

.carousel-control-next::after {
  border-bottom: 0.25rem solid transparent;
  border-left: 0.3125rem solid;
  border-top: 0.25rem solid transparent;
  left: 0.3125rem;
  width: 0;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
  z-index: 0;
  height: var(--carousel-item-height);
  width: var(--carousel-item-width);
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-item-1 {
  left: 15%;
  opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
  height: calc(var(--carousel-item-height) * 1.5);
  width: calc(var(--carousel-item-width) * 1.5);
  opacity: 1;
  z-index: 1;
}

.carousel-item-2 {
  left: 30%;
}

.carousel-item-3 {
  height: calc(var(--carousel-item-height) * 2);
  width: calc(var(--carousel-item-width) * 2);
  opacity: 1;
  left: 50%;
  z-index: 2;
}

.carousel-item-4 {
  left: 70%;
}

.carousel-item-5 {
  left: 85%;
  opacity: 0.4;
}

.carousel-caption {
	display: flex;
	justify-content: center;
	align-items: center;
  position: absolute;
  top: 77%;
  left: 50%;
	width: 80%;
	height: 3rem;
	border-radius: 0.5rem;
  transform: translateX(-50%);
  background-color: #000102db;
  font-size: 0.9rem;
}

.carousel-caption a {
  color: #19E428;
  text-decoration: none;
}

.carousel-caption a:hover {
  text-decoration: underline;
}

/* Página Sobre */